{% extends 'base.html.twig' %}

 {% block body %}
    <br></br>

            <table style="width:90%" >
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOM</th>
                        <th scope="col">PRIX</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for produit in products %}
                    <tr>
                     <td>{{produit.id}}</td>
                    <td>{{produit.nom}}</td>
                    <td>{{produit.prix}}</td>
                    <td>{{produit.description}}</td>
                    <td>
                    <a  href="{{path("produitEdit",{'id':produit.id})}}"> modifier  </a>
                    <a  href="{{path("produitDelete",{'id':produit.id})}}"> supprimer  </a>
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>

        {% endblock  %}